/* Лого в навигацията */
.nav-logo{
width:40px;
vertical-align:middle;
margin-right:20px;
}

/* Централно лого */
.main-logo{
width:180px;
margin-top:40px;
margin-bottom:30px;
filter:drop-shadow(0 0 20px #ff00ff88);
animation:float 4s ease-in-out infinite;
}

/* Леко плаваща анимация */
@keyframes float{
0%{transform:translateY(0px);}
50%{transform:translateY(-10px);}
100%{transform:translateY(0px);}
}

/* Навигация */
nav{
background:#ffffff10;
backdrop-filter:blur(10px);
padding:20px;
text-align:center;
border-bottom:1px solid #ffffff20;
}
