body{
margin:0;
font-family:'Press Start 2P',cursive;
background:linear-gradient(135deg,#140028,#000814);
color:white;
text-align:center;
}

nav{
background:#1b0038;
padding:20px;
}

nav a{
color:#00bfff;
margin:0 20px;
text-decoration:none;
font-size:10px;
}

h1{
margin-top:60px;
background:linear-gradient(90deg,#7b00ff,#00bfff);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.card{
background:#1b0038;
border:2px solid #7b00ff;
padding:30px;
margin:40px auto;
width:300px;
border-radius:12px;
}

button{
background:linear-gradient(90deg,#7b00ff,#00bfff);
border:none;
padding:12px;
margin-top:10px;
color:white;
cursor:pointer;
border-radius:8px;
width:100%;
font-family:'Press Start 2P',cursive;
font-size:10px;
}
