*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Press Start 2P',cursive;
background:radial-gradient(circle at top,#2a1a0f,#120c06 70%);
color:#fff;
min-height:100vh;
}

nav{
background:#1b120a;
padding:20px;
text-align:center;
border-bottom:1px solid #ffb34733;
}

nav a{
color:#ffb347;
margin:0 20px;
text-decoration:none;
font-size:10px;
}

.hero{
text-align:center;
padding:120px 20px;
}

.version{
display:inline-block;
background:#1f3d0f;
color:#7CFC00;
padding:8px 15px;
border-radius:20px;
font-size:8px;
margin-bottom:40px;
}

.hero-logo{
width:140px;
margin-bottom:40px;
filter:drop-shadow(0 0 20px #ffffff55);
}

.main-title{
font-size:26px;
color:#ffb347;
margin-bottom:20px;
letter-spacing:4px;
}

.subtitle{
font-size:10px;
color:#ccc;
margin-bottom:40px;
}

.ip-box{
display:inline-block;
padding:15px 25px;
background:#222;
border:2px solid #ffb347;
font-size:10px;
}

.page{
padding:120px 20px;
text-align:center;
}

.card{
background:#1b120a;
border:1px solid #ffb34733;
padding:25px;
margin:20px auto;
width:300px;
}
.rank{
background:#1b120a;
border:1px solid #ffb34733;
padding:30px;
margin:30px auto;
width:340px;
transition:0.3s;
border-radius:10px;
}

.rank:hover{
transform:translateY(-10px);
box-shadow:0 0 25px #ffb34755;
}

.rank h2{
margin-bottom:15px;
color:#ffb347;
}

.price{
font-size:14px;
margin-bottom:20px;
color:#ffd27f;
}

.rank ul{
list-style:none;
font-size:9px;
margin-bottom:20px;
}

.rank li{
margin:6px 0;
}

.rank button{
background:#ffb347;
border:none;
padding:12px;
cursor:pointer;
font-family:'Press Start 2P',cursive;
font-size:10px;
}
