*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Press Start 2P',cursive;
background:#0d0d0d;
color:white;
min-height:100vh;
overflow-x:hidden;
}

/* АНИМИРАН ФОН */
body::before{
content:"";
position:fixed;
width:100%;
height:100%;
background:
radial-gradient(circle at 20% 30%, #ffffff15, transparent 40%),
radial-gradient(circle at 80% 70%, #ffffff10, transparent 40%);
animation:moveGlow 12s ease-in-out infinite alternate;
z-index:-1;
}

@keyframes moveGlow{
0%{transform:scale(1);}
100%{transform:scale(1.2);}
}

/* NAVBAR */
.navbar{
display:flex;
justify-content:center;
align-items:center;
gap:30px;
padding:20px;
background:#111;
}

.nav-logo{
width:40px;
}

.nav-links a{
color:white;
text-decoration:none;
font-size:10px;
margin:0 10px;
transition:0.3s;
}

.nav-links a:hover{
color:#ccc;
}

/* HERO */
.hero{
text-align:center;
padding-top:100px;
}

.main-logo{
width:200px;
margin-bottom:40px;
animation:float 4s ease-in-out infinite;
}

@keyframes float{
0%{transform:translateY(0);}
50%{transform:translateY(-15px);}
100%{transform:translateY(0);}
}

h1{
font-size:20px;
margin-bottom:20px;
}

.subtitle{
font-size:10px;
color:#bbb;
margin-bottom:40px;
}

.ip-box{
display:inline-block;
padding:15px 30px;
background:white;
color:black;
border-radius:10px;
font-size:10px;
}
